*.pyc
*.zip
*.pth
*.ckpt
*.blend

**/__pycache__/
.gradio/

tmp/
debug/
datasets/ 
outputs/
evaluations/
exps/
mycode/
demo/
exp_render/

decomvoxel/representation/GeoSVR/bg_inpaint/PixelHacker/weight/
decomvoxel/representation/GeoSVR/bg_inpaint/PixelHacker/vae/
decomvoxel/representation/GeoSVR/bg_inpaint/See3D/MVD_weights/
decomvoxel/representation/GeoSVR/bg_inpaint/checkpoint/

env_zzr.sh
exp_render/
exp_render_backup_20260511_001647/
demo_result/
teaser/
result/

*.log
**/build/
*.egg-info/
.ninja_*
